/* STYLING THE HEADER SECTION */

.header-nav {
    /* height: 20vh; */
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo-div {

}


.checkbox-div {

}

.menu-icon {
    font-size: 50px;
}

.checkbox {

}

.hidden-menu {
}

.social-div {

}

.lists-div {

}


/* Header media queries */


/* ------------------------------- */

/* STYLING THE MAIN SECTION */

.content-container {
    max-width: 1192px;
}

.main-container {
    background-color: lightcoral;
}

.main-header {

    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header-sub-div {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    margin-left: .3rem;
    width: 32.333%;
    align-content: space-between;
}

.header-div:not(:last-child) {
    /* background-color: yellow; */
    /* height: 5rem; */
    /* margin-bottom: .5rem; */

}





#h-d-1 {
    order: 0;
    /* width: 100%; */
    width: 65.6666%;
}

#h-d-2 {
    order: 1;
    /* width: 100%; */
    width: 49%;
}

#h-d-3 {
    order: 2;
    /* width: 100%; */
    width: 49%;
}


.content-container {
    padding: 1rem 0;
    margin: 0 auto;
    width: 90%;
}



.row {
    /* border: 2px solid green; */
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.content-section {
    background-color: beige;
    margin-bottom: 1rem;
    width: 100%;
    padding: .5rem;

}


.content-card-small {
 display: flex;
 flex-wrap: wrap;
 /* background-color: red; */
 margin-bottom: .5rem;
 /* justify-content: space-between;
 width: 23.55555%; */


}

.card-small-img {
    background-color: red;
    width: 10%;
}

.text-small-container {
    background-color: #fff;
    width: 90%;
}

.card-small-heading {

}

.card-small-description {

}

/* styling the second section */

.orange-card {
    background-color: orangered;
    width: 100%;
}

.orange-card:not(:last-child) {
    margin-bottom: .5rem;
}

.hidden {
    display: none;
}



/* styling the third section */

.content-card-big {
 background-color: blueviolet;
 /* margin-right: 1rem; */
 margin-bottom: 1rem;
 width: 100%;
}

.content-card-title {

}

.content-card-top {

}

.card-top-img {

}

.text-top-container {

}

.card-top-heading {

}

.card-top-description {

}

.card-top-details {

}

.content-card-bottom {

}

.text-card-bottom {

}

.card-bottom-ul {

}


/* STYLING THE LATEST DEALS SECTION */

.latest-card {
    background-color: purple;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.latest-card-img {
    width: 70px;
    margin-right: .5rem;
    background-color: black;
    color: black;
}

.latest-card-text-container {
    /* width: 100%; */
}

.latest-card-h3 {
    overflow-wrap: break-word;
    word-wrap: break-word;

}


/* Main media queries */

@media only screen and (min-width:770px) {

    /* .main-menu {
        display: block;
    }

    .mobile-menu {
        display: none;
        width: 0;
    } */

    .header-div {
        margin-bottom: 0;
    }

    #h-d-1{
        width: 65.66666%;
        height: 100%;
    }

    #h-d-2{
        width: 100%;
        height: 49%;
        /* margin-bottom: .5rem; */
    }


    #h-d-3{
        width: 100%;
        height: 49%;
    }

    .header-sub-div {
        width: 32.333%;

    }

    .content-section {
        display: flex;
        flex-wrap: wrap;

    }

    .content-card-small {
        display: flex;
        flex-wrap: wrap;
        width:calc(100%/3);
        height: 200px;
       }

    .card-small-img {
        width: 100%;
    }

    .text-small-container {
        width: 100%;
    }

    .orange-card {
        width: calc(100%/3);
    }

    .orange-card:not(:last-child) {
        margin-bottom: 0;

    }

    .content-card-big {
        width: calc(100%/2);
    }

    .latest-card {
        width: calc(100%/3);

    }

    .latest-card-img {
        width: 100%;
        margin: 0 auto;
        margin-right: .5rem;
        margin-left: .5rem;
    }

    .latest-card-text-container {

        margin-right: .5rem;
        margin-left: .5rem;
    }
}


@media only screen and (min-width:1024px) {

    .content-card-small {
        width:calc(100%/4);
    }

    .orange-card {
        width: calc(100%/4);
    }

    .hidden {
        display: block;
    }

    .content-card-big {
        width: calc(100%/3);
    }

    .latest-card {
        width: calc(100%/4);

    }

}



/* ---------------------------------- */

/* STYLING THE FOOTER SECTION */

.footer {
    /* background-color: black; */
    /* height: 30vh; */
    text-align: center;
}

.footer-links {
    background-color: darkgray;
    width: 100%;

}

.footer-icons {

}

.footer-icons-li,
.footer-map-li {
 display: inline-block;
 margin-bottom: 1rem;
}

.footer-icons-links {


}

.footer-site-map {

}

.footer-map-li {

}

.footer-legal {
    background-color: gray;
    width: 100%;
    height: 10rem;
}

/* Footer media queries */
